*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(227, 231, 231);
}
.first-cont {
    position: relative;
    background-image: url(./images/pink-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-heading{
    position: absolute;
    left: 12%;
}
.first-heading::before {
    content: "For a smooth, semi-matte finish with a touch of sheen";
    animation: changeText 10s infinite;
}
@keyframes changeText {
    0%, 20% {
        content: "For a smooth, semi-matte finish with a touch of sheen";
    }
    25%, 45% {
        content: "Perfect tools for a perfect finish";
    }
    50%, 70% {
        content: "Your go-to brushes for any project";
    }
    75%, 95% {
        content: "Quality tools for quality work";
    }
    100% {
        content: "Achieve the best results with our brushes";
    }
}
.list{
    position: absolute;
    display: flex;
    gap: 1rem;
    left: 65%;
    color: #fff;
    font-size: 0.8rem;
}
.icons{
    gap: 0.5rem;
    display: flex;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 12vh;
}
.navbar-gif img{
    width: 15rem;
}
.navbar-input{
    display: flex;
}
.navbar-input input{
    width: 30rem;
    padding: 12px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
    border: 1px solid #cac3c3;
    background-color: rgb(40, 38, 38);
    outline: none;
    color: #fff;
}
.navbar-search-button{
    background-color: #fff;
    padding: 10px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.navbar-search-button button{
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}
.fa-search{
    color: black;
    cursor: pointer;
}
.fa-circle-user{
    font-size: 1.2rem;
}
.login-register-icon{
    display: flex;
    gap: 0.5rem;
}
.login-register-icon p, .fa-heart, .fa-bag-shopping, .fa-gear{
    cursor: pointer;
}
.navbar-three-icons{
    display: flex;
    gap: 1rem;
}
.navbar-three-icons a{
    color: #fff;
}
.navbar-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(18, 15, 15);
    color: #fff;
    height: 10vh;
    font-size: 13px;
}
.navbar-links p{
    cursor: pointer;
    /* display: inline-block; */
    position: relative;
}
.navbar-links p::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -15px;
    left: 0;
    background-color: rgb(254, 40, 76);
    visibility: hidden;
    transition: all 0.3s ease-out;
}
.navbar-links p:hover::after{
    visibility: visible;
    width: 100%;
}
.advertisment-eye img{
    width: 100%;
    height: 18rem;
    opacity: 0.6;
}
.image-eye{
    position: relative;
}
.complimentary-foundation img{
    width: 68rem;
    height: 18.2rem;
    position: absolute;
    top: 0;
    left: 7%;
}
.gift-img img{
    position: absolute;
    width: 5rem;
    left: 93.5%;
    position: fixed;
    top: 60%;
}
.home{
    background-color: #fff;
    display: flex;
    gap: 1rem;
    height: 3rem;
    align-items: center;
}
.home-p{
    margin-left: 5rem;
    color: grey;
    cursor: pointer;
}
.fa-angle-right{
    color: grey;
}
.span{
    font-weight: bold;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    margin-left: 3rem;
    z-index: 1;
}
.filters{
    font-weight: bold;
}
.dropbtn{
    background-color: #fff;
    color: black;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}
.dropdown-content label{
    padding: 12px 16px;
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.filter-section{
    background-color: #fff;
    padding: 10px;
    width: 16rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 0.5rem;
}
.filter-reset{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    cursor: pointer;
}
.reset{
    color: red;
}
.main-container{
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
    margin-left: 3rem;
    position: relative;
}
.cards{
    position: absolute;
    left: 24%;
    top: -22%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    background-color: #fff;
    width: 16.8rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 1rem;
    border-radius: 0.5rem;
}
.head-1{
    font-size: 0.7rem;
    padding-left: 20px;
}
.head-2{
    font-size: 0.8rem;
    padding-left: 20px;
}
.card img{
    width: 12rem;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.rate{
    font-weight: bold;
    color: black;
    font-size: 1rem;
}
.price-1{
    color: grey;
    font-size: 0.8rem;
}
.rating{
    display: flex;
    gap: 0.3rem;
}
.rating img{
    width: 1.3rem;
    height: 1.3rem;
}
.rating p{
    margin-top: 0.1rem;
}
.price p{
    font-size: 0.9rem;
    font-weight: lighter;
}
.cart{
    display: flex;
    gap: 1rem;
}
.cart button{
    width: 12rem;
    padding: 12px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
}
.heart{
    border: 1px solid black;
    border-radius: 0.6rem;
    width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
}
.heart i{
    font-size: 1.2rem;
    padding-top: 7px;
    padding-left: 5px;
}
.customer-contact{
    position: relative;
}
.contact-details{
    position: absolute;
    top: 31rem;
    left: 27rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.newHeading{
    display: flex;
    gap: 1.2rem;
}
.border{
    border-bottom: 2px solid rgb(234, 62, 91);
    width: 3rem;
}
.input-contact{
    display: flex;
    position: absolute;
    top: 90px;
    right: -65px;
}
.input-contact input{
    width: 40rem;
    padding: 12px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;
    border: none;
    border: 1px solid grey;
}
.input-contact button{
    background-color: black;
    color: #fff;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.sugar-image{
    position: absolute;
    top: 99rem;
    left: 35rem;
    z-index: 100;
    background-color: black;
    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem;
}
.sugar-image img{
    width: 8rem;
    height: 8rem;
    padding-top: 16px;
}
.footer{
    position: absolute;
    bottom: -110rem;
    background-color: black;
    width: 98.7vw;
    height: 120vh;
    color: #fff;
    z-index: -1;
}
.allIcons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 7rem;
    align-items: center;
}
.allIcons i{
    font-size: 1.4rem;
    color: grey;
}
.allIcons i:hover{
    cursor: pointer;
    color: #fff;
}
.horizontal-line{
    margin: 2rem 5rem 0 5rem;
}
.about-page{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.about-page p{
    cursor: pointer;
    /* display: inline-block; */
    position: relative;
}
.about-page p::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-out;
}
.about-page p:hover::after{
    visibility: visible;
    width: 100%;
}
.allInformation{
    margin-top: 2.5rem;
    margin-left: 5rem;
}
.getInformation{
    display: flex;
    gap: 2.5rem;
    margin-top: 1.5rem;
}
.information{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.information h4{
    color: grey;
    cursor: pointer;
}
.information h4:hover{
    color: #fff;
}
.information p{
    color: rgb(183, 166, 166);
}
.store img{
    width: 7rem;
    cursor: pointer;
}
.googleData{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.gdata p{
    color: grey;
    font-size: 0.9rem;
}
.lines{
    margin-top: 2rem;
}
.footer-line h3{
    color: grey;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
}

/* Here is media query for responsiveness */

/*for tablet device*/
@media(max-width: 768px){
    .first-cont, .navbar, .navbar-links, .advertisment-eye img, .home{
        width: 765px;
    }.first-heading{
        font-size: 12px
    }.icons p{
        font-size: 7px;
    }.navbar-gif img{
        width: 40px;
        height: 30px;
    }.navbar-input input{
        width: 288px;
        padding: 7px;
    }.navbar-search-button{
        padding: 7px;
        padding-bottom: 10px;
    }.navbar-search-button button, .fa-search{
        font-size: 0.7rem;
    }.fa-circle-user{
        font-size: 0.9rem;
    }.navbar-three-icons a, .login-register-icon p{
        font-size: 0.7rem;
    }.navbar-links{
        font-size: 8px;
    }.complimentary-foundation img{
        width: 650px;
    }.gift-img img{
        width: 3.5rem;
        left: 92%;
        top: 72%;
    }.home{
        font-size: 0.8rem;
    }.dropdown{
        margin-left: 3rem;
        width: 12rem;;
    }.dropbtn{
        padding: 15px;
        font-size: 13px;
    }.dropdown-content label{
        padding: 8px 9px;
        font-size: 12px;
    }.filter-section{
        padding: 8px;
        width: 12rem;
        height: 18rem;
        gap: 1rem;
    }.cards{
        grid-template-columns: repeat(2, 1fr);
        left: 30%;
        top: -27%;
    }.card{
        width: 13rem;
        height: 19rem;
        padding: 15px;
        gap: 0.9rem;
    }.head-1{
        padding-left: 10px;
        font-size: 0.6rem;
    }.head-2{
        padding-left: 2px;
        font-size: 0.5rem;
    }.card img{
        width: 6rem;;
    } .rate, .rating p{
        font-size: 0.7rem;
    }.rating img{
        width: 1rem;
        height: 1rem;
    }.price p{
        font-size: 0.7rem;
    }.cart button{
        width: 6rem;
        font-size: 0.6rem;
    }.heart i{
        padding-left: 5.5px;
    }
    .contact-details{
        top: 42rem;
        left: 9rem;
        gap: 1rem;
    }
    .input-contact{
        top: 90px;
        right: -30px;
        left: -60px;
    }
    .input-contact input{
        width: 480px;
        padding: 10px;
    }
    .sugar-image{
        top: 107rem;
        left: 20rem;
    }
    .sugar-image img{
        width: 6rem;
        height: 6rem;
    }
    .footer{
        bottom: -119rem;
        width: 765px;
        height: 130vh;
    }
    .allIcons i{
        font-size: 1.2rem;
    }
    .horizontal-line{
        margin: 2rem 3rem 0 3rem;
    }
    .about-page{
        font-size: 1rem;
    }
    .store img{
        width: 5rem;
    }
    .gdata p{
        font-size: 0.7rem;
    }
    .footer-line h3{
        font-size: 0.8rem;
    }
    .allInformation{
        margin-right: 70px;
    }
    .getInformation{
        gap: 15px;
    }
    .allInformation h1{
        font-size: 1.2rem;
    }
    .information h3{
        font-size: 0.7rem;
    }
    .information h4, .information p{
        font-size: 0.6rem;
    }
    
}

/*for mobile device*/
@media(max-width: 480px ){
   .first-heading{
        font-size: 14px
    }.icons p{
        font-size: 9px;
    }.fa-circle-user{
        font-size: 1rem;
    }.navbar-three-icons a, .login-register-icon p{
        font-size: 0.9rem;
    }.navbar-links{
        font-size: 9px;
    }.complimentary-foundation img{
        width: 632px;
        margin-left: 2rem;
    }.gift-img img{
        width: 3.5rem;
        left: 92%;
        top: 45%;
    }.cards{
        left: 50%;
        top: -27%;
    }
    .contact-details{
        left: 10rem;
    }
    .contact-details p{
        width: 32rem;
    }
    .input-contact{
        top: 100px;
    }
    .input-contact input{
        width: 480px;
        padding: 10px;
    }
    .sugar-image{
        left: 20rem;
    }
}@media(max-width: 450px){
    .cards{
        left: 60%;
    }
}
@media(max-width: 370px){
    .cards{
        left: 70%;
    }
}
@media(max-width: 330px){
    .cards{
        left: 80%;
    }
}
@media(max-width: 268px){
    .cards{
        left: 102%;
    }
}
